<div class="dropdown">
{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
{% if page.url == site.baseurl %}{% assign crumbs == Home %}{% endif %}
{% for crumb in crumbs offset: 1 %}
{% if forloop.last %}
<span class="icon-arrow" aria-hidden="true">&rsaquo;</span>
<button onclick="myFunction()" class="dropbtn">
  {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
</button>
<div id="myDropdown" class="dropdown-content">
  {% include subdirs.html %}
</div>
{% else %}
<span class="icon-arrow" aria-hidden="true">&rsaquo;</span>
<a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
{% endif %}
{% endfor %}
</div>
