{{ page.url }}

Variables

Root
File
Directory
Extention
Depth

  {% capture directory %}
      {% assign path = page.path | remove_first:'/' | split:'/' %}
      {% for folder in path %}
          {% unless forloop.last %}
              {{ folder }}/
          {% endunless %}
      {% endfor %}
  {% endcapture %}

  Directory: {{directory}}

Getting started pages:
<ul>
{% assign sorted_pages = (site.pages | sort: 'url') %}
{% for page in sorted_pages %}

<li>{{ page.url | remove: "/" }}"</li>


{% endfor %}
</ul>
