{% assign parts = page.url | split: '/' %} 
{% assign level = parts | size %} 
{% assign subdir_level = level | plus:1 %}
{% assign current = parts | last %}
{% capture parent %}{% for part in urlparts %}{{ part | remove: current }}{% endfor %}{% endcapture %} 

{% for node in site.pages %}
{% if node.title != nil %}
{% assign node_parts = node.url | split: '/' %}


{% assign node_level = 1 %}
{% assign node_subdir_level = node_level | plus:1 %}
{% assign node_current == '/' %}
{% assign node_parent == '/' %}
{% else %}
{% assign node_level = node_parts | size %}
{% assign node_subdir_level = node_level | plus:1 %}
{% assign node_current = node_parts | last %}
{% capture node_parent %}{% for part in node_parts %}{{ part | remove: node_current }}{% endfor %}{% endcapture %}
{% endif %}

{% if page.url == site.url or page.url == site.baseurl %}
{% for subdir_level == 2 %}<a href='{{site.baseurl}}'>{{site.title}}</a>{% endfor %}
{% else %}
{% if current == node_parent and subdir_level == node_level %}<a href='{{node.url}}'>{{node.title}}</a>{% endif %}

{% endif %}
{% endfor %}
