<style>
  
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/
li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
	background: #19c589;
}

/*Style for dropdown links*/
li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
    -webkit-appearance: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	ul li, li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}
</style>

{% capture _pass_stash %}
  {{ _pass_stash }}
  {% if _pass_active %}1{% else %}0{% endif %}
{% endcapture %}

{% assign _pass_active = false %}

{% capture _menu_inside %}

  {% assign _pages = site.pages %}
{% if include.sort %}
{% assign _pages = _pages | sort: include.sort %}
{% else %}
{% assign _pages = _pages | sort: "url" %}
{% endif %}
{% if include.reverse %}
{% assign _pages = _pages | reverse %}
{% endif %}
  
  {% for node in _pages %}
    {% unless node.title %}{% continue %}{% endunless %}
    {% assign _url_start = node.url | truncate: include.url.size, "" %}
    {% unless include.url == _url_start %}{% continue %}{% endunless %}
    {% assign _url_rest = node.url | remove_first: _url_start %}
    {% assign _url_rest_size = _url_rest | split: "/" | size %}
    {% assign _lastchar = node.url | split: "" | last %}
    {% assign _nexturl = node.url %}
    
    {% if _url_rest_size == 0 %}
      {% unless include.url == "/" %}{% continue %}{% endunless %}
    {% elsif _lastchar == "/" %}
      {% unless _url_rest_size == 1 %}{% continue %}{% endunless %}
    {% elsif _url_rest_size == 2 %}
      {% assign _filename = _url_rest | split: "/" | last %}
      {% assign _checkindex = _filename | truncate: 6, "" %}
      {% unless _checkindex == "index." %}{% continue %}{% endunless %}
      {% assign _nexturl = node.url.size | minus: _filename.size %}
      {% assign _nexturl = node.url | truncate: _nexturl, "" %}
    {% else %}
      {% unless _url_rest_size == 1 and include.url == "/" %}{% continue %}{% endunless %}
    {% endif %}

    {% assign _retval = false %}
    {% assign _childmenu = "" %}

    {% unless node.url == "/" %}
      {% capture _childmenu %}
        {% include automenu url=_nexturl sort=include.sort reverse=include.reverse all=include.all %}
      {% endcapture %}
    {% endunless %}

    <li><a href="{{ node.url }}">{{ node.title | escape }}</a>
    <ul class="hidden">
      {% if _retval or page.url == node.url or include.all %}{{ _childmenu }}{% endif %}
      {% if _retval or page.url == node.url %}{% assign _pass_active = true %}{% endif %}
    </li>
    
  {% endfor %} <!--- node in _pages --->
{% endcapture %} <!--- menu inside --->



<label for="show-menu" class="show-menu">Menu</label>
<input type="checkbox" id="show-menu" role="button">


{% unless _menu_inside == "" %}
  <ul id="menu">{{ _menu_inside }}</ul>
{% endunless %}

{% assign _retval = _pass_active %}
{% assign _tmp = _pass_stash | split: "" | last %}

{% if _tmp == "1" %}
  {% assign _pass_active = true %}
{% else %}
  {% assign _pass_active = false %}
{% endif %}

{% assign _tmp = _pass_stash.size | minus: 1 %}
{% assign _pass_stash = _pass_stash | truncate: _tmp, "" %}
