
.menu-section {
  margin: 25px;
  display: block;
}

.menu-header {
  margin: 20px 0;
  background: no-repeat 15px 15px;
  background-size: 32px;
  display: block;
  color: #0089e0;
  width: 100%;
  text-align: center;
}

.menu-header-wrap {
  width: 100%;
}

.menu-header-title {
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  font-family: lobster;
  font-size: x-large;
  display:inline;
  margin: 10px 0;
  text-transform: capitalize;
  position: relative;
}

.menu-header-title h1 {
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    font-family: lobster;
    font-size: x-large;
    display: inline;
    font-size: 1.75em;
    margin: 10px 0;
    text-transform: capitalize;
    position: relative;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  background-color: #aab;
  box-shadow: inset 2px 5px 20px #555;
}
.menu-section-list {
  padding:0;
  margin: 10px 0;
  list-style:none;
}

.menu-section-list a {
  display: block;
  padding: 10px 20px;
}

.menu-section-list a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.slideout-panel {
  z-index: 1;
  will-change: transform;
  position: relative;
  background-color: #eee;
  min-height: 100%;
  box-shadow: -1px 0px 20px 1px #555;
}

.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
