<div class="desktop"><ul class="breadcrumb-item">{% 
if page.url == site.baseurl %}<li><a class="breadcrumb-home" href="{{site.baseurl}}"><i class="fa fa-home"></i></a></li>{% 
endif %}<div class="dropdown"><div class="subdirectory dropdown-content">{% 
assign page_url = page.url %}{% 
assign url_parts = page.url | replace: '/','-' | append: '@' | remove: '-@' | replace: '-','/' | split: '/' %}{%
capture url_parts_size %}{{ url_parts | size }}{%
endcapture %}{% 
capture rm %}{{ url_parts | last | append: '/' }}{% 
endcapture %}{% 
capture base_url %}{{ page.url | replace: rm, '' }}{%
endcapture %}{% 
for node in site.pages %}{% 
assign node_url_parts = node.url | replace: '/','-' | append: '@' | remove: '-@' | replace: '-','/' | split: '/' %}{% 
capture node_url_rm %}{{ node.url | split: '/' | last | append: '/' }}{%
endcapture %}{% 
capture node_url_base %}{{ node.url | replace: node_url_rm, '' }}{% 
endcapture %}{% 
if node_url_base == page.url %}<li><a href="{{node.url}}">{{node.title }}</a></li>{% 
endif %}{%
endfor %}</div>
