table {
	width: 80%;
	margin: 1em auto;
	border-collapse: collapse;
}

thead th,
tfoot th {
  padding: 0.5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  text-align: center;
}

tbody td {
    padding: 0.5em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    font-family: 'Amarante', Tahoma, sans-serif;
    font-weight: bold;
    line-height: 1.7em;
    margin-bottom: 10px;
    text-align: center;
}

tbody tr.odd {
	background-color: #ecf2f5;
}

td.numeric,
th.numeric {
	text-align: right;
}
