<!DOCTYPE html>
<html>
  
<head>
  
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="cleartype" content="on">
<meta name="MobileOptimized" content="320">
<meta name="HandheldFriendly" content="True">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

{% if page.description %}<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">{% endif %}
{% if page.tags %}<meta name="keywords" content="{{ page.tags }}">{% if page.tags == true or page.title == 'tags' %}<link rel="stylesheet" href="{{ 'assets/css/tags.css' | prepend:site.baseurl }}">{% endif %}{% endif %}
{% if site.author %}<meta name="author" content="{{ site.author }}">{% endif %}

<link rel="stylesheet" href="{{ 'assets/dropdown.css' | prepend:site.baseurl }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' }}">
<title>{{ site.title | capitalize }}{% if page.title %}{% if page.url != '/' %} - {{ page.title | capitalize }}{% endif %}{% endif %}</title>

</head>

<body>
  <header></header>
  {% include automenu url='/' sort="url" reverse=false all=true %}
  <footer></footer>   
  </body>
</html>
